@import '../../style/variables.scss';
@import '../../style/fonts.scss';

.tag {
    border-radius: $border-radius-btn;
    position: absolute;
    top: $padding / 3;
    right: $padding / 3;
    font-size: $font-size / 1.5;
}
