@import '../../style/variables.scss';

.page {
    width: $width;
    margin: 0 auto;
    position: relative;
    max-width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
