@import '../../style/colors.scss';
@import '../../style/variables.scss';

.knowledge-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: $padding;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 5em;
    position: relative;

    .knowledge {
        position: relative;
        padding: $padding;
        border: 1px solid;
    }

}


@media screen and (max-width: 768px) {
    .knowledge-list {
        grid-template-columns: 1fr 1fr;
    }
}
