@import '../../style/colors.scss';
@import '../../style/variables.scss';
@import '../../style/fonts.scss';

.task-list {
    .task-group {
        padding: $padding 0;

        span.title {
            padding-bottom: $padding / 4;
            display: inline-block;
            cursor: pointer;
            border-bottom: 2px solid;
        }

        .task {
            border-left: 2px solid;
            padding: $padding / 3 0 0 $padding;
            margin: 0;
            display: inline-block;
            width: calc(100% - $padding);

            h5 {
                margin: $padding / 3 0;
                font-size: $font-size * 1.2;
                font-weight: $font-bold;
            }

            p {
                padding: 0;
                margin: 0
            }

            &:nth-last-child(1) {
                padding-bottom: $padding;
            }
        }
    }
}