// Theme Light
$bg-color-themeLight: #f9f9f9;
$bg-color-light-themeLight: rgb(218, 218, 217);
$font-color-themeLight: rgb(26, 26, 26);

// Theme Dark
$bg-color-themeDark: rgb(30, 30, 30);
$bg-color-light-themeDark: rgb(37, 37, 38);
$font-color-themeDark: rgb(229, 229, 229);

$color-success: rgb(34, 195, 130);
$color-danger: rgb(241, 76, 76);
$color-info: rgb(41, 184, 219);
$color-warning: rgb(245, 245, 67);
