@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

$font-family: 'Ubuntu';
$font-light: 300;
$font-normal: 400;
$font-bold: 700;

$font-size: 12px;
$line-height: $font-size * 1;
