body,
#app {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-normal;
    padding: 0;
    margin: 0;

    >section {
        color: $font-color-themeLight;
        background-color: $bg-color-themeLight;

        a {
            color: $font-color-themeLight;
            background-color: $bg-color-themeLight;
            text-decoration: none;
        }

        &.theme-dark {
            color: $font-color-themeDark;
            background-color: $bg-color-themeDark;

            a {
                color: $font-color-themeDark;
                background-color: $bg-color-themeDark;
            }

            .btn {
                &.btn-primary {
                    background-color: $bg-color-light-themeLight;
                    color: $font-color-themeLight;
                }
            }
        }

        .btn {
            border: 1px solid;
            padding: 1em 1.5em !important;
            border-radius: 1em;
            cursor: pointer;

            &.btn-primary {
                background-color: $bg-color-light-themeDark;
                color: $font-color-themeDark;
            }
        }

        h4,
        h5 {
            margin: 0.5em 0;
        }
    }
}
