@mixin light-theme {
    color: $font-color-themeLight;
    background-color: $bg-color-themeLight;
}

@mixin dark-theme {
    color: $font-color-themeDark;
    background-color: $bg-color-themeDark;
}


body,
#app {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-normal;
    padding: 0;
    margin: 0;

    >section {
        @include light-theme();

        #menu {
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $bg-color-themeLight;
            box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.5);
            z-index: 1;

            span {
                padding: $padding;
                cursor: pointer;

                &.active {
                    @include dark-theme();
                }
            }
        }


        a {
            @include light-theme();
            text-decoration: none;
        }

        &.theme-dark {
            @include dark-theme();

            a,
            #menu {
                @include dark-theme();
            }

            .btn.btn-primary,
            #menu .active {
                @include light-theme();
            }
        }

        .btn {
            border: 1px solid;
            padding: 1em 1.5em !important;
            border-radius: 1em;
            cursor: pointer;

            &.btn-primary {
                @include dark-theme();
            }
        }

        h4,
        h5 {
            margin: 0.5em 0;
        }
    }
}
